*{
    margin:0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: radial-gradient(circle at 50% -20.71%, #e8a138 0, #ee9637 8.33%, #f38a38 16.67%, #f77d3a 25%, #f96d3d 33.33%, #fa5b41 41.67%, #f94646 50%, #f72b4d 58.33%, #f40055 66.67%, #ef005f 75%, #e9006b 83.33%, #e20078 91.67%, #d80086 100%);
    color: black;
    margin: auto;
    max-block-size: 1000px;
}
#link{
text-align: center;
margin-top: 30px;

}
#link2{
    background-color:transparent;
  color:white;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
cursor: pointer;
  border-image: initial; border: 2px solid whitesmoke;
}

#link2:hover{
    color: rgb(39, 39, 39);
    border-image: initial; border: 2px solid rgb(29, 29, 29);
}


#contenedor{

    max-width: 905px;  
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
  background-color: whitesmoke;
    border-image: initial; border: 10px solid whitesmoke;
    border-radius: 30px;
}
header{
    height: 100px;
    background-image: linear-gradient(to bottom,rgb(255, 210, 0), rgb(255, 157.5 , 0));
}
header h1{
    font-size: 20px;
    text-align: center;
    line-height: 100px;
}
nav{

    background-image: linear-gradient(to bottom,rgb(255, 157.5, 0), rgb(255, 105, 0));
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
}
nav h2{
   font-size: 20px;
    text-align: center;
    line-height: 50px;
}
#contenido  {
    text-align: center;
    width: 625px;
    line-height: 400px;
    height: 400px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}


aside{
    width: 270px;
    height: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
    margin-left: 5px;
}

aside h2{
    text-align: center;
    line-height: 400px;
font-size: 20px;
}
footer{
    clear: both;
    background-image: linear-gradient(to bottom,rgb(255, 52.5, 0), rgb(255, 0, 0));

    height: 50px;
text-align: center;
line-height: 50px;
}
article, aside{
    background-image: linear-gradient(to bottom,rgb(255, 105, 0), rgb(255,52.5, 0));

}
