*{
    margin: 0;
    padding: 0;


}

html{
    background: url(fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header{
    background-color: rgba(255, 255, 255, 0.3);

max-width: 1000px;
margin: 1px auto;
box-shadow: 5px 5px 30px black;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.bt-menu{
    background-color: rgba(0,0,0,0.3);
    
    
}
.bt-menu a{
    display: none;
    height: 20px;
}
header ul{
list-style: none;
text-align: center;
margin-top: 20px;


}
ul li{
    display: inline-block;
    position: relative;
    text-decoration: none;
   
}

a {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px ; 
    text-decoration: none;

    color: whitesmoke;
    transition: all 500ms ease;
 
   
}
a:hover{

    background-color: rgb(0,0,0,0.2);
}
.contenido{
    width: 80%;
    margin: 10% auto;
    background-color: rgb(237, 237, 237);
    box-shadow: 5px 5px 30px black;
    border-radius: 0.5em;
}
.texto{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*boton de ir arriba*/


#button-up{
        width: 60px;
        height: 60px;
    background: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20em;
    color: whitesmoke;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}
#button-up:hover{
    transform: scale(1.1);
border-color: rgba(0,0,0,0.3);
}
@media (max-width:600px) {
    .bt-menu{

        width: 100%;
        background-color: rgba(0,0,0,0.3);
       
        position: fixed;
        top: 0;
    }
    .bt-menu a{
        display: block;
    }
    .link{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        color: white;
        line-height: 40px;
      
       display:block ;
    }

    
    nav {
        width: 80%;
        background-color:rgba(0,0,0,0.3);
         position: fixed;
         top: 60px;
        text-align: left;
         height: 70%;
         left: -80%;
        
    }
    nav ul li{
        display: block;
        height: 55px;
        border-top: solid rgba(255,255,255,0.3);
        transition: all 500ms ease;
        
    }
    nav ul li a {
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        padding: 20px;
        display: block;
        transition: all 500ms ease;
     
    }
    nav ul li a:hover{
     background-color:  rgba(0,0,0,0.3);
    }
    .contenido{
        margin-top: 6em;
    }
    }
    
    
    
